<div class="col-3 my-2 mx-2">
  <div class="card" style="width: 18rem;">
<% if customer.image.present? %>
    <%= image_tag customer.image,  alt: "No Image", class: "card-img-top" %>
<% end %>
    <div class="card-body">
      <h5 class="card-title"><%=customer.fullname %></h5>
      <p class="card-text"><%=customer.notes%></p>
      <p>Phone: <%=customer.phonenumber%></p>
    </div>
  </div>
</div>